<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-3level %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!--<appender name="sentry-raven" class="com.getsentry.raven.logback.SentryAppender">
        &lt;!&ndash;每个项目生成不通的key&ndash;&gt;
        <dsn>http://5bdb8ea5f1db4d45b9c2b9274733903d:31f6bde9cf5a4a40a70b60413974d845@sentry.qfang.com:9000/2</dsn>
        &lt;!&ndash;设置拦截的最低级别为error&ndash;&gt;
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>-->

    <root level="INFO">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="sentry"/>
        <!--<appender-ref ref="sentry-raven"/>-->
    </root>
</configuration>